# Dependency directories
node_modules/
jspm_packages/

# Environment variables & secrets (CRITICAL)
.env
.env.local
.env.*.local

# Server logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata files
.DS_Store
Thumbs.db

# Development/IDE tool settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.example